In [31]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import process_data as proc
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler, StandardScaler

In [57]:
# Load dataset
df = pd.read_csv('total_df.csv')

# Index dataframe with LNR id
X = df.set_index('LNR').astype(np.int8)

scaler = RobustScaler()
X_scaled = scaler.fit_transform(X)

# KMeans Clustering
kmeans = KMeans(n_clusters=6, random_state=42, max_iter=700)

#print("Clustering ... \n")
kmeans.fit(X_scaled)
clusters = kmeans.predict(X_scaled)
X['cluster'] = clusters

# Store DataFrame
print("Storing clustered data...")
X.to_csv('clustered_df.csv', header=X.columns)

In [62]:
#X = pd.read_csv('clustered_df.csv', index_col='LNR')
#X = X.astype(np.int8)
#X.info()
print("Storing clustered data...")
X.to_csv('clustered_df.csv', header=X.columns)

Storing clustered data...

In [59]:
X.head()

,AGER_TYP,AKT_DAT_KL,ALTERSKATEGORIE_FEIN_was_missing,ALTERSKATEGORIE_GROB,ALTER_HH,ANREDE_KZ,ANZ_HAUSHALTE_AKTIV,ANZ_KINDER,ANZ_PERSONEN,ANZ_STATISTISCHE_HAUSHALTE,...,W_KEIT_KIND_HH,D19_KONSUMTYP,D19_LOTTO,D19_GESAMT_ONLINE_QUOTE_12,D19_VERSAND_ONLINE_QUOTE_12,D19_SOZIALES,ALTERSKATEGORIE_FEIN,KK_KUNDENTYP,EXTSEL992,cluster
LNR,,,,,,,,,,,,,,,,,,,,,
910220,-1,9,0,1,0,2,11,0,2,12,...,3,9,0,0,0,0,21,3,56,0
910225,-1,9,0,3,17,2,10,0,1,7,...,3,9,0,0,0,0,17,3,14,5
910226,2,1,0,4,13,2,1,0,0,2,...,6,9,0,0,0,0,13,3,31,4
910241,-1,1,0,3,20,1,3,0,4,3,...,2,1,0,10,10,0,14,1,56,1
910244,3,1,0,1,10,2,5,0,1,2,...,6,4,0,10,0,4,10,3,20,4

In [60]:
# Percentage of customer per cluster
customer_id=np.loadtxt('customers_id.out', int)

# X = ps.read_csv('clustered_df.csv')
X_customers = X.loc[np.intersect1d(customer_id, X.index)]
custom_prct=X_customers['cluster'].value_counts() / X_customers['cluster'].value_counts().sum()

general_prct=X['cluster'].value_counts() / X['cluster'].value_counts().sum()

In [61]:
# Difference between customers and population

custom_prct = custom_prct.sort_index()*100
custom_prct.name = 'Customer'

general_prct = general_prct.sort_index()*100
general_prct.name = 'Population'

diffs = (custom_prct - general_prct)
diffs.name = 'Difference'

x = pd.merge(general_prct, custom_prct, left_index=True, right_index=True)
xdf = pd.merge(x, diffs, left_index=True, right_index=True)
xdf.index.name = 'Cluster'

xdf.style.bar(subset= diffs.name, align='mid', color=['#d65f5f', '#5fba7d'])

925791